@model Bookflix.Models.Publisher

@{
    ViewData["Title"] = "Details";
}

<div class="Publishers-Create">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">

                <h1 class="text-center font-h1">Details</h1>

                <div>
                    <h4 class="text-center font-h4">Publisher</h4>
                    <hr />
                    <dl class="row">
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Address)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Address)
                        </dd>
                    </dl>
                </div>
                <div>
                    <a class="anchor-Edit" asp-action="Edit" asp-route-id="@Model?.ID">
                        <i class="bi bi-pencil"></i> Edit
                    </a>
                    <a class="Back-To-List" asp-action="Index">
                        <i class="bi bi-arrow-left"></i>Back to List
                   </a>
                </div>
            </div>
        </div>
    </div>
</div>