<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookFlix</title>
    <!-- Core Style CSS -->
    <link href="~/css/core-style.css" rel="stylesheet">
    <link href="~/css/bootstrap.min.css"  rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="~/css/adminStyle.css" rel="stylesheet" />
    <!-- ##### Footer Area End ##### -->
    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="~/js/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="~/js/plugins.js"></script>
    <!-- Classy Nav js -->
    <script src="~/js/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="~/js/active.js"></script>

</head>
<body>
    <header class="header_area">
        <div style="height:80px" class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
            <!-- Classy Menu -->
            <nav class="classy-navbar" id="essenceNav">
                <!-- Logo -->
                <a class="nav-brand" asp-controller="Home" asp-action="Index">BookFlix</a>
                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>
                <!-- Menu -->
                <div class="classy-menu">
                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul>
                            <li class="megamenu-item">
                                <a href="#"><i class="bi bi-cart"></i> Shop</a>
                                <div class="megamenu">

                                    <ul class="single-mega cn-col-4">
                                        <li class="title">Book Types</li>
                                        <li><a href="/Book/Index/?booktypess=ShortStory" >Short Stories</a></li>
                                        <li><a href="/Book/Index/?booktypess=Novel">Novels</a></li>
                                        <li><a href="/Book/Index/?booktypess=Novellas">Novellas</a></li>
                                        <li><a href="/Book/Index/?booktypess=Book" >Books</a></li>
                                    </ul>
                                    <ul class="single-mega cn-col-4">
                                        <li class="title">Publishing Types</li>
                                        <li><a href="/Book/Index/?publishingtypess=Traditional">Traditional</a></li>
                                        <li><a href="/Book/Index/?publishingtypess=Self">Self</a></li>
                                        <li><a href="/Book/Index/?publishingtypess=Joint">Joint</a></li>
                                        <li><a href="/Book/Index/?publishingtypess=Vanity">Vanity</a></li>
                                    </ul>
                                    <ul class="single-mega cn-col-4">
                                        <li class="title">Book Cover Types</li>
                                        <li><a href="/Book/Index/?covertypess=Softcover">Soft Cover</a></li>
                                        <li><a href="/Book/Index/?covertypess=HardcoverWithImageWrap">Hard Cover With Image Wrap</a></li>
                                        <li><a href="/Book/Index/?covertypess=HardcoverWithDustJacket">Hard Cover With Dust Jacket</a></li>
                                    </ul>
                                    <div class="single-mega cn-col-4">
                                        <img src="/img/Logo.png" alt="">
                                    </div>

                                </div>
                                <span class="dd-trigger"></span>
                                <span class="dd-arrow"></span>
                            </li>
                            <li><a href="/Home/About"><i class="bi bi-info-circle"></i> About</a></li>
                            <li><a href="/Home/ContactUs"><i class="bi bi-telephone"></i> Contact</a></li>
                            @if (User.IsInRole("Admin") && User.Identity.IsAuthenticated)
                            {
                                <li class="cn-dropdown-item has-down pr12">
                                    <a href="#"><i class="bi bi-gear-fill"></i> Management</a>
                                    <ul class="dropdown">
                                        <li><a asp-controller="Authors" asp-action="Index">Author</a></li>
                                        <li><a asp-controller="Publishers" asp-action="Index">Publisher</a></li>
                                        <li><a asp-controller="Categories" asp-action="Index">Category</a></li>
                                        <li><a asp-controller="Books" asp-action="Index">Book</a></li>
                                        <li><a href="#">Sold books</a></li>
                                        @*									<li><a href="#">Single Blog</a></li>
                                            <li><a href="#">Regular Page</a></li>
                                            <li><a href="#">Contact</a></li>*@
                                    </ul>
                                    <span class="dd-arrow"></span>
                                </li>
                            }
                        </ul>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>
            <!-- Header Meta Data -->
            <div class="header-meta d-flex clearfix offset-2">
                <!-- Search Area -->
                <div class="search-area">
                    <form asp-controller="Book" asp-action="Index" method="post">
                        <input type="search" name="search" id="headerSearch" placeholder="Type for search">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
                <!-- User Login Info -->
                <div class="user-login-info" style="width: 200px">
                    <partial name="_LoginPartial.cshtml" />
                </div>
            </div>
        </div>
    </header>

<div class="container-fluid mt-100">
    <main role="main" style="padding-bottom:1000px" class="pb-5">
        @await Component.InvokeAsync("ShoppingCartSummary")
        @RenderBody()
    </main>
</div>


<footer class="footer_area clearfix ">
    <div class="container">
        <div class="row">
            <!-- Single Widget Area -->
            <div class="col-12 col-md-6">
                <div class="single_widget_area d-flex mb-30">
                    <!-- Logo -->
                    <div class="footer-logo mr-50">
                        <a href="#"><h1>Bookflix</h1></a>
                    </div>
                    <!-- Footer Menu -->
                    <div class="footer_menu">
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Single Widget Area -->
            <div class="col-12 col-md-6">
                <div class="single_widget_area mb-30">
                    <ul class="footer_widget_menu">
                        <li><a href="#">Shipping and Delivery</a></li>
                        <li><a href="#">Guides</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row align-items-end">
            <!-- Single Widget Area -->
            <div class="col-12 col-md-6">
                <div class="single_widget_area">
                    <div class="footer_social_area">
                        <a href="https://www.facebook.com/" target="_blank" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="https://www.instagram.com/" target="_blank" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="https://www.twitter.com/" target="_blank" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://www.pinterest.com/" target="_blank" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        <a href="https://www.youtube.com/" target="_blank" data-toggle="tooltip" data-placement="top" title="Youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <p>
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by ITI Trainees
                </p>
            </div>
        </div>
    </div>
</footer>

<button type="button" class="scrollUp">
    <svg xmlns="http://www.w3.org/2000/svg"
         class="scrollUp-icon"
         fill="none"
         viewBox="0 0 22 21"
         stroke="currentColor">
        <path stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 15l7-7 7 7" />
    </svg>
</button>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>