@model Bookflix.Models.Category

@{
    ViewData["Title"] = "Details";
}

@*<h1>Details</h1>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@


@*change class name*@
<div class="Authors-Create">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">

                <h1 class="text-center font-h1">Details</h1>

                <div>
                    <h4 class="text-center font-h4">Author</h4>

                    <hr />
                    <dl class="row">
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                    </dl>
                </div>
                <div>
                    <a class="anchor-Edit" asp-action="Edit" asp-route-id="@Model?.ID">
                        <i class="bi bi-pencil"></i> Edit
                    </a>
                    <a class="Back-To-List" asp-action="Index">
                        <i class="bi bi-arrow-left"></i>Back to List
                   </a>
                </div>

            </div>
        </div>
    </div>
</div>